* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', sans-serif;
}

body {
    background: #3e1f92 ;
}

.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.list-container {
    height: 900px;
    width: 500px;
    border-radius: 10px;
    position: absolute;

    align-items: center;
    justify-content: center;
    display: flex;
}

.title {
    color: #fff;
    top: 1%;
    position: absolute;
    margin-top: 8px;
    opacity: 0.85;
    font-weight: 900;

    text-decoration: overline;
    cursor: default;
    transition: 0.5s ease-in-out;
}

.title:hover {
    opacity: 1;
}

.add-in-list {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 500px;
    height: 100px;
    bottom: 34px;

    align-items: center;
    justify-content: center;
    display: flex;
}

.add-in-list input {
    background-color: #eee;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px;

    transition: 1s;
}

.add-in-list input:focus {
    scale: 1.08;
}

.list {
    border: #000000 solid 4px;
    position: absolute;
    top: 75px;
    width: 450px;
    height:700px;
    background: #ffffff;
    border-radius: 10px;
    text-align: start;

    overflow: scroll;
}

.line li {
    text-decoration: underline #000;
}

.line {
    padding: 20px;
    font-size: 24px;
    color: #0071e2;
    display: flex;

}

.icon-check {
    margin: 4px 0 0 30px;
    bottom: 10px;

    color: #000;

    transition: 1s ease-out all;

    cursor: pointer;
}

.icon-edit {
    margin: 4px 0 0 30px;
    bottom: 10px;

    color: #000;

    transition: 1s ease-out all;

    cursor: pointer;
}

.icon-add {
    color: #fff;
    margin-left: 25px;

    cursor: pointer;
    
    opacity: 0.6;

    transition: 0.4s ease;
}

.icon-check:hover {
    color: #0dc250;
    scale: 1.2;
}

.icon-add:hover {
    opacity: 1;
    scale: 1.3;
}

.icon-edit:hover {
    color: #1a8cd8;
    scale: 1.2;
}

.copyright {
    color: #fff;
    position: absolute;
    align-items: center;
    bottom: 0.5%;
    cursor: default;
}

.copyright p {
    opacity: 25%;
    transition: 1.5s;
}

.copyright p:hover {
    opacity: 0.9;
}

.waitSecure {
    cursor: default;
    opacity: 0.8;
    display: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

